@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  color: #fff;
  background: #222224;
}

body {
  font: 100% "Rubik", sans-serif;
  color: #fff;
}

.logo {
  margin: 0 50px 0 0;
}
.logo .img {
  height: 60px;
  width: 100px;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}
nav ul li {
  margin: 0 30px 0 0;
  position: relative;
  padding: 10px 0;
  cursor: pointer;
}
nav a {
  color: #fff;
  text-decoration: none;
}

.underline {
  width: 0;
  display: block;
  height: 2px;
  background: #ff6b00;
  transition: width 0.3s ease;
  position: absolute;
  bottom: 0;
  left: 0;
}
li:hover .underline {
  width: 100%; /* При наведении ширина линии становится 100% */
}

.phone {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(-45deg, #FFA500, #FF8C00, #00BFFF, #FFA500);
  animation: animate_gradient 5s ease infinite;
  background-size: 400% 400%;
  filter: brightness(110%);
}

.contact {
  margin: 0 0 0 auto;
  text-align: right;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  display: flex;
}

main {
  margin: 0 0 0 200px;
}

header {
  background-color: #222224;
  box-shadow: #363636;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #fff;
  animation: mymove 5s infinite;
}

.email {
  font-size: 14px;
  font-weight: normal;
  color: #999;
}

.hero-section {
  background-color: #222224;
  padding: 73px 0;
}
.hero-section .container {
  display: flex;
  align-items: center;
}

.content {
  flex: 1;
  margin: 0 50px 0 0;
}
.content p {
  font-size: 18px;
  font-weight: normal;
  color: #999;
  margin: 0 0 30px 0;
}
.content h1 {
  font-size: 48px;
  font-weight: bold;
  color: #fff;
  margin: 0 0 20px 0;
  display: flex;
  flex-direction: column;
}
.content h1 span {
  display: block;
  text-shadow: 1px 1px #ff6b00;
}

.txt1-blok {
  font-family: "Roboto";
  max-width: 450px;
}
.txt1-blok span {
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: #ff6b00;
}

.btn {
  font-size: 16px;
  font-weight: normal;
  color: #fff;
  display: inline-block;
  background-color: #ff6b00;
  text-decoration: none;
  padding: 12px 30px;
  border-radius: 5px;
  transition: background-color 0.4s, color 0.4s;
  animation: animate_pulse 1.6s infinite;
}
.btn:hover {
  animation: none;
  background-color: #363636;
  color: #ff6b00;
}

/* Services Section Styles */
.services-section {
  padding: 80px 0;
}

.photo-hero img {
  width: 629px;
  height: 405px;
}

.services-header {
  margin: 0 0 80px 0;
}

.services-header h3, .benefits-header h3, .form-container h3 {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.services-list {
  display: grid;
}
@supports (display: grid) {
  .services-list {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
}

.service-item {
  background-color: #191919;
  display: flex;
  align-items: center;
  padding: 17px;
  width: 298px;
}

.service-icon {
  width: 100px;
  height: 70px;
  margin-right: 20px;
}
.service-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.service-text {
  direction: rtl;
  font-size: 18px;
  color: #fff;
}

/* Advantages Section Styles */
.advantages-section {
  background-color: #222224;
  padding: 20px 0;
}

.container2 {
  display: flex;
}

.advantage-item-1 {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  height: 100px;
  width: 239px;
  background-color: rgb(40.1928571429, 40.1928571429, 42.5571428571);
  padding: 20px;
  border: 1px solid #333;
  border-top: none;
}

.advantage-item-2 {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  height: 100px;
  width: 239px;
  background-color: rgb(46.3857142857, 46.3857142857, 49.1142857143);
  padding: 20px;
  border: 1px solid #333;
  border-top: none;
}

.advantage-item-3 {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  height: 100px;
  width: 239px;
  background-color: rgb(52.5785714286, 52.5785714286, 55.6714285714);
  padding: 20px;
  border: 1px solid #333;
  border-top: none;
}

.advantage-item-4 {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  height: 100px;
  width: 239px;
  background-color: rgb(58.7714285714, 58.7714285714, 62.2285714286);
  padding: 20px;
  border: 1px solid #333;
  border-top: none;
}

.advantage-title {
  font-size: 14px;
  font-weight: bold;
  color: #ff6b00;
  margin: 0 0 10px 0;
}

.advantage-text {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #fff;
}

.benefits-section {
  font-size: 18px;
  display: flex;
  background-color: #222224;
  padding: 20px 0;
}

.benefits-header h3 {
  text-transform: uppercase;
  margin: 0 140px 20px 0;
  text-align: left;
}

.benefits-block {
  background-color: #222224;
  border-radius: 8px;
  padding: 20px;
  text-align: left;
}
.benefits-block ul {
  list-style-image: url("https://i.postimg.cc/rFwR6p4s/87f80a5b8d3209be7333546bdff46779-1.png");
  list-style-type: none;
  padding-left: 20px;
  color: #fff;
  list-style-position: inside;
}
.benefits-block p {
  color: #fff;
  line-height: 1.6;
  margin: 0 0 20px 0;
  counter-reset: section;
}
.benefits-block p span {
  font-size: 20px;
  font-weight: normal;
  color: #ff6b00;
}
.benefits-block li {
  counter-increment: section;
  margin: 0 0 10px 0;
}
.benefits-block li ::before {
  content: counter(section) ". ";
}

.promo-section {
  padding: 20px;
}
.promo-section .promo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  height: 637px;
  background-color: #222224;
}
.promo-section .promo-text {
  padding: 20px;
  position: relative;
  flex: 0.5;
  background-color: #000;
}
.promo-section .promo-overlay {
  padding: 20px;
  position: absolute;
  top: 50px;
  left: 50px;
  width: 140px;
  height: 132px;
  border: 1px solid #primary-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}
.promo-section .promo-title {
  padding: 20px;
  margin-top: 178px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
}
.promo-section .promo-percentage {
  margin: 50px;
  font-size: 36px;
  font-weight: bold;
  color: #ff6b00;
  margin-top: 71px;
  margin-left: 20px;
  transition-delay: 0.4s;
  transition-timing-function: ease-in;
  transition-duration: 0.6s;
  filter: saturate(75%);
}
.promo-section .promo-percentage:hover {
  filter: saturate(100%);
}
.promo-section .promo-percentage:hover .element {
  -webkit-transform: matrix(0.766, -0.7, 0.8, 0.866, -5, -30);
  -moz-transform: matrix(0.7, -0.6, 0.7, 0.9, -10, -20);
  -ms-transform: matrix(0.76, -0.68, 0.79, 0.85, -7, -25);
  transform: matrix(0.766, -0.7, 0.8, 0.866, -5, -30);
}
.promo-section .promo-footnote-wrapper {
  padding: 20px;
  font-size: 10px;
  color: #999;
  margin-left: 105px;
  margin-top: -118px;
  width: 204px;
}
.promo-section .promo-image {
  flex: 1;
}
.promo-section .promo-image img {
  width: 100%;
  height: 411px;
  object-fit: cover;
}

/*About-section*/
.about-section {
  background-color: #222224;
  padding: 0;
  margin-top: -133px;
  margin-bottom: 150px;
}

.about-container {
  display: flex;
  max-width: 1920px;
  margin: 0 auto;
}

.about-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 50px;
  width: 457px;
  border-right: 1px solid #333;
}

.about-title {
  font-size: 26px;
  font-weight: bold;
  color: #fff;
  line-height: 1.2;
  margin-bottom: 20px;
  width: 431px;
  transition: transform 0.6s ease;
}

.about-title-orange {
  color: #ff6b00;
}

.about-feature-title-orange {
  color: #ff6b00;
}

.about-title-white {
  color: #fff;
}

.about-feature-title-white {
  color: #fff;
}

.about-right {
  flex: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  border-bottom: 1px solid rgba(158, 158, 158, 0.2);
}

.about-feature {
  width: 100%;
}

.about-feature-title {
  font-size: 17px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}

.about-feature-divider {
  width: 100%;
  height: 1px;
  border: 1px solid #333;
  margin-bottom: 20px;
}

.hr-1 hr {
  margin-bottom: 20px;
  opacity: 0.2;
  width: 375px;
}

.about-feature-title-txt {
  width: 554px;
}
.about-feature-title-txt p {
  margin-bottom: 15px;
}

.ri-arrow-down-s-line {
  font-size: 22px;
}

.about-title:hover {
  transform: translateX(10px);
}

/* steps-section*/
.steps-section {
  background-color: #222224;
  padding: 100px 0;
}

.steps-container {
  max-width: 1148px;
  margin: 0 auto;
  margin-left: -130px;
}

.steps-title {
  font-size: 23px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 50px;
  margin-left: 55px;
  filter: drop-shadow(10px 15px 5px rgba(0, 0, 0, 0.6));
}

.steps-title-orange {
  color: #ff6b00;
}

.steps-title-orange b {
  color: #fff;
}

.steps-title-orange span {
  writing-mode: vertical-lr;
  text-orientation: upright;
  color: #ff6b00;
}

.steps-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  color: #ff6b00;
}
.steps-content .steps-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.steps-content .steps-item .steps-number {
  font-size: 36px;
  font-weight: bold;
  margin-right: 20px;
  content: "Step 1";
}
.steps-content .steps-item .steps-word {
  font-size: 18px;
  font-weight: bold;
  content: "Description for Step 1";
}
.steps-content .steps-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.steps-content .steps-item .steps-number {
  font-size: 36px;
  font-weight: bold;
  margin-right: 20px;
  content: "Step 2";
}
.steps-content .steps-item .steps-word {
  font-size: 18px;
  font-weight: bold;
  content: "Description for Step 2";
}
.steps-content .steps-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.steps-content .steps-item .steps-number {
  font-size: 36px;
  font-weight: bold;
  margin-right: 20px;
  content: "Step 3";
}
.steps-content .steps-item .steps-word {
  font-size: 18px;
  font-weight: bold;
  content: "Description for Step 3";
}

.steps-number-orange {
  color: #ff6b00;
}

.steps-number-orange:hover {
  transform: skewX(7deg);
}

.steps-text-base, .steps-word-white, .steps-word-orange {
  font-weight: bold;
  color: #ff6b00;
}

.steps-word-orange {
  text-decoration: underline;
  text-decoration-style: double;
}

.steps-word-white {
  color: #fff;
  width: 200px;
  text-align: center;
}

.steps-arrow {
  margin: 0 20px;
}

.steps-button {
  text-align: left;
  position: relative;
  display: inline-block;
}

.steps-btn {
  font-variant: small-caps;
  background-color: #222224;
  color: #fff;
  border: 2px solid #999;
  padding: 18px 70px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 55px;
  border-radius: 7px;
  transition: transform 0.6s ease;
  box-shadow: 0 2px 5px rgb(9.2285714286, 9.2285714286, 9.7714285714);
}
.steps-btn:hover {
  transform: translateY(10px);
  box-shadow: 0 4px 10px black;
}

/* form section*/
.form-container {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  background-color: #fff;
  padding: 20px;
  border-radius: 7px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease, visibility 0.3s ease;
  margin-left: 27px;
  width: 275px;
  box-sizing: border-box;
}

.steps-button:hover .form-container {
  opacity: 1;
  visibility: visible;
  top: 70px;
}

.form-field {
  margin: 10px 0;
  width: 100%;
}
.form-field input {
  width: 100%;
  padding: 10px;
  border: 2px solid #999;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}
.form-field input:focus {
  border-color: #222224;
  outline: none;
}

.form-field button {
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 107, 0, 0.8);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease, opacity 0.8s ease;
}

.form-field button:hover {
  background-color: #ff6b00;
  opacity: 0.8;
}

.form-container h3 {
  color: #222;
  margin-bottom: 15px;
  text-align: center;
}

.steps-arrow {
  width: 100px;
  height: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 20px solid #faab73;
  border-bottom: 10px solid transparent;
}

.arrow-1 {
  cursor: pointer;
  position: relative;
  width: 80px;
  height: 50px;
  margin-top: 0px;
}

.arrow-1 div {
  position: relative;
  top: 20px;
  width: 70px;
  height: 5px;
  background-color: #ff6a00;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  left: 0;
  display: block;
}

.arrow-1 div::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 5px;
  top: -13px;
  right: -10px;
  background-color: #fc8e3f;
  transform: rotate(45deg);
}

.arrow-1 div::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 5px;
  top: 13px;
  right: -10px;
  background-color: #faab73;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  transform: rotate(-45deg);
}

.arrow-1:hover {
  animation: arrow-1 1s linear infinite;
}

@keyframes arrow-1 {
  0% {
    left: 0;
  }
  50% {
    left: 10px;
  }
  100% {
    left: 0;
  }
}
/*visualization section*/
.visualization-section {
  background-color: #222224;
  padding: 100px 0;
}

.visualization-container {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-left: -208px;
}

.visualization-image {
  flex: 0 0 50%;
  max-width: 50%;
  height: 850px;
}

.visualization-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: saturate(130%);
}

.vs-con, .visualization-content2,
.visualization-content4,
.visualization-content6, .visualization-content1,
.visualization-content3,
.visualization-content5 {
  flex: 0 0 50%;
  padding-left: 0;
  margin-bottom: 0;
}

.visualization-content1,
.visualization-content3,
.visualization-content5 {
  height: 850px;
  padding-top: 124px;
  background-color: #2e2e30;
}

.visualization-content2,
.visualization-content4,
.visualization-content6 {
  height: 850px;
  padding-top: 124px;
  background-color: #222224;
}

.visualization-title {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
  width: 476px;
  margin-left: 75px;
}

.visualization-subtitle {
  font-size: 18px;
  margin-bottom: 20px;
  color: rgb(229.5, 229.5, 229.5);
  margin-left: 75px;
}

.visualization-divider {
  width: 573px;
  height: 1px;
  background-color: rgb(76.5, 76.5, 76.5);
  margin: 20px 0;
}

.visualization-text {
  font-size: 18px;
  color: rgb(229.5, 229.5, 229.5);
  margin-bottom: 20px;
  margin-left: 75px;
  width: 418px;
}

.visualization-button {
  text-align: left;
}

.visualization-btn {
  background-color: #1a1a1a;
  color: #fff;
  border: 2px solid #999;
  padding: 18px 70px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 75px;
  border-radius: 7px;
}

.visualization-btn:hover {
  transform: translateY(-1px) scale(1.02);
  transition: transform 0.2s ease-out;
}

/* project section*/
.vis-pro-container {
  display: flex;
  width: 100%;
  max-width: 1050px;
  margin: 20px 0;
  container-type: inline-size;
}

.text-block-proj {
  min-width: 650px;
  background: radial-gradient(circle, rgb(48, 46, 46) 0%, rgb(46, 46, 46) 45%, rgb(23, 23, 23) 85%);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.3);
  flex: 2;
  margin-right: 20px;
  height: 350px;
  overflow-y: auto;
  container-type: inline-size;
}

.project-title-h2 {
  margin-bottom: 70px;
  container-type: inline-size;
}
.project-title-h2 h2 {
  font-size: 30px;
  text-transform: uppercase;
}

.projects-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  flex: 1;
}

.project1 {
  width: 100%;
  height: 335px;
  margin: 15px 0;
  background-color: #222224;
  border-radius: 10px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2);
  transition: transform 0.6s ease, box-shadow 0.6s ease;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.project1:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}
.project1:hover .project-title {
  transform: translateY(-10px);
}
.project1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("https://i.pinimg.com/564x/77/ac/35/77ac35b7f4bf2c5a3d6521ee9f2bc87e.jpg");
  background-size: cover;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}
.project1::after:hover {
  opacity: 1;
}

.project2 {
  width: 100%;
  height: 335px;
  margin: 15px 0;
  background-color: #222224;
  border-radius: 10px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2);
  transition: transform 0.6s ease, box-shadow 0.6s ease;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.project2:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}
.project2:hover .project-title {
  transform: translateY(-10px);
}
.project2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("https://i.pinimg.com/736x/b6/4f/fd/b64ffd87a39a0d183ccd1fdf917c9a53.jpg");
  background-size: cover;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}
.project2::after:hover {
  opacity: 1;
}

.project3 {
  width: 100%;
  height: 335px;
  margin: 15px 0;
  background-color: #222224;
  border-radius: 10px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2);
  transition: transform 0.6s ease, box-shadow 0.6s ease;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.project3:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}
.project3:hover .project-title {
  transform: translateY(-10px);
}
.project3::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("https://i.pinimg.com/564x/3a/46/84/3a46845c5d5edf357d8e9b6a8772d0d2.jpg");
  background-size: cover;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}
.project3::after:hover {
  opacity: 1;
}

.project-title {
  position: relative;
  color: #fff;
  font-size: 1.5em;
  text-align: center;
  z-index: 1;
  transition: transform 0.3s ease;
}

.text-block-proj h4 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.text-block-proj p {
  line-height: 1.8;
}

.p-text-block-proj {
  margin-top: 20px;
}

@container (max-width: 800px) {
  .text-block-proj {
    color: #afd642;
    min-width: 250px;
  }
  .text-block-proj h4 {
    font-size: 1.2em;
  }
  .text-block-proj p {
    line-height: 1.5;
  }
  .project-title-h2 h2 {
    font-size: 20px;
  }
}
@container (max-width: 500px) {
  .text-block-proj {
    min-width: 200px;
  }
  .text-block-proj h4 {
    font-size: 1em;
  }
  .text-block-proj p {
    font-size: 13.5px;
    line-height: 1.3;
  }
}
/*footer*/
footer {
  display: grid;
}
@supports (display: grid) {
  footer {
    flex-wrap: wrap;
    justify-content: center;
    background: rgb(66, 66, 66);
    background: linear-gradient(90deg, rgb(66, 66, 66) 0%, rgb(29, 29, 29) 37%, rgb(0, 0, 0) 85%);
    padding: 10px 0;
  }
}

.footer-grid {
  padding-left: 68px;
  line-height: 1.5;
  margin: 20px 0 20px 0;
  width: 90vw;
  display: flex;
  padding-bottom: 20px;
}
@supports (display: flex) {
  .footer-grid {
    justify-content: space-around;
  }
}

.footer-grid p {
  font-size: 17px;
  font-weight: 300;
  color: #fff;
}

.footer-down {
  margin: 6px -33px;
  padding: 15px;
  color: #fff;
  padding-left: 100px;
}

.footer-down p {
  font-size: 16px;
}

.logo-foot img {
  width: 184px;
  height: 70px;
  margin-left: -19px;
}

.pol_conf_number_email a {
  color: #ff6b00;
}

@media print {
  nav {
    display: none;
  }
  .btn a {
    display: none;
  }
  .btn span {
    display: none;
  }
  .steps-btn {
    display: none;
  }
  .steps-section {
    padding: 0;
  }
  .visualization-btn {
    display: none;
  }
  .realise-projects {
    margin-top: 600px;
  }
  .confidential u {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
