$font-stack: "Rubik", sans-serif;
$primary-color: #fff;
$OrangeColor: #ff6b00;
$DarkColor:#222224;
$DarkGrayishColor:#363636;
$f-small:14px;
$f-size-m: 'medium'; 
$f-size-sm:'small';
$bg-color-promo:DarkColor;
$padd-promo-s:20px;
$marg-promo-s:50px;